@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
  background-color: #FFF;
}


.react-responsive-modal-modal {
  padding: 0 !important;
}

.react-responsive-modal-closeButton {
  padding-top: 16px !important;
  right: 32px !important;
  position: absolute;
  top: 24px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

.react-responsive-modal-modal:has(.customModal) {
  max-width: fit-content !important;
  min-width: 306px !important;
  border-radius: 8px !important;
}

/* Tooltip styling rules */
.my-tooltip {
  background-color: #FFFFFF !important;
  color: #333333 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  padding: 6px 10px !important;
  border-radius: 4px !important;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.12) !important;
  cursor: pointer;
}

.scrollBar::-webkit-scrollbar, .whiteScrollBar::-webkit-scrollbar {
  -webkit-appearance: none;
}

.scrollHide::-webkit-scrollbar  {
  -webkit-appearance: none;
}

.scrollBar::-webkit-scrollbar:vertical {
  position: relative;
  width: 4px;
  background-color: white;
}
.whiteScrollBar::-webkit-scrollbar:vertical {
  position: relative;
  width: 4px;
  background-color: #3B2A6F;
}

.scrollBar::-webkit-scrollbar:horizontal, .whiteScrollBar::-webkit-scrollbar:horizontal {
  height: 4px;
  background-color: transparent;
  border-radius: 0px !important;
}

.scrollBar::-webkit-scrollbar-thumb {
  background-color: #816cbe;
  border: transparent;
  border-radius: 22px;
  width: 4px;
  height: 45px;
  right: 20px;
}
.whiteScrollBar::-webkit-scrollbar-thumb {
  background-color: #FFF;
  border: transparent;
  border-radius: 22px;
  width: 4px;
  height: 45px;
  right: 20px;
}

.setNewPassword::before{
  position: fixed;
  content: url("public/images/login_img.svg");
  z-index: 10;
  bottom: 30px;
  right: 100px 

}